/* Write your CSS here */
.vaccination-coverage-container {
  display: flex;
  flex-direction: column;
  background-color: #1c1c2b;
  margin-bottom: 20px;
  padding: 20px;
}
.vaccination-heading {
  font-size: 25px;
  color: #94a3b8;
  font-weight: 200;
  line-height: 1.5;
  font-family: 'Roboto';
}
